<div class="slider-wrapper">
  <div class="header">
    <span class="label">{{ label() }}</span>
    <span class="value">{{ formattedValue() }}</span>
  </div>
  <div class="track-container group">
    <div class="track"></div>
    <div class="ticks-layer">
      @for (pos of generatedTicks(); track $index) {
      <div class="tick" [style.left]="pos"></div>
      }
      @for (pos of specialMarkers(); track $index) {
      <div class="marker" [style.left]="pos"></div>
      }
    </div>
    <input type="range" [min]="min()" [max]="max()" [step]="step()" [value]="value()" (input)="onInput($event)"
      class="range-input">
    <div class="thumb" [style.left]="thumbPosition()"></div>
  </div>
  <div class="footer">
    <span class="min-max">{{ formatValue(min()) }}</span>
    <span class="min-max">{{ formatValue(max()) }}</span>
  </div>
</div>
